In [11]:
import numpy as np
import pandas as pd
import math
print('  ',np.ones(10))
print('  ',np.ones((1,10)))
print('  ',np.zeros(5))
year = 2017
name = "".join(('Input',str(year),'69.csv'))
print('   ',name)
#print(pd.read_csv(name).head())
print('   ',math.floor(15/15)+1)
a = np.ones(15)
print('   ',a[6])
print("   ",[1,2,3,4])
i=0
for i in range(1,5,1):
    i+=1
    print(i)

   [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
   [[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]
   [0. 0. 0. 0. 0.]
    Input201769.csv
    2
    1.0
    [1, 2, 3, 4]
2
3
4
5

In [3]:
a=np.zeros(60)
print(a)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [1]:
#import afun
from afun import a
from aconfig import x0

# [a1,b] = afun.a()
[a1,b] = a()
print(a1)
print(x0)

flg1
5
10
6
5

In [28]:
aa = np.array([],[])
aa[0,0] = 1
aa[1,1] = 5
print(aa)

IndexError: too many indices for array

In [18]:
for a in range(0,1,1):
    print(a)

0

In [15]:
x = 19
def af():
    #global x
    z = x + 4
    print(z)

af()

23

In [11]:
import pandas as pd
VARIABLE = {}
_no_var = object()

def set_var(rkey, rvalue=_no_var,ty=0):
    if ty == 0:
        i = 0
        if rvalue is _no_var:
            rvalue = ('')
        for key in rkey:
            if rvalue == '':
                VARIABLE[key] = ''
            elif type(rvalue) is int: 
                VARIABLE[rkey] = rvalue
                break
            else:
                VARIABLE[key] = rvalue[i]
            i += 1
    elif ty == 1:
        VARIABLE[rkey] = rvalue

def del_var(key):
    try:
        del VARIABLE[key]
    except KeyError:
        print("key:'"+str(key)+"' is no exist")


def get_var(key):
    
    try:
        if key in 'all':
            return VARIABLE
        return VARIABLE[key]
    except KeyError:
        print("key:'" + str(key) + "' is no exist")

# set_var('year',0)
# set_var('m')

# print(get_var('year'))
# print(get_var('m'))
set_var(('year','m'))
year = get_var('year')
year = 2018
print(year)
import numpy as np
set_var('aa',np.zeros((14)),1)
print(VARIABLE['aa'])
set_var(('ae','eb','ffe'),(1,2,4))
set_var('dfs', 999)
set_var(('asdf','qewr','er'),([4,5,6],[324,23],[99,0]))
pidp = pd.read_csv('InputPIDparameters.csv')
#set_var('PIDparameters',pd.read_csv('InputPIDparameters.csv'))
print(VARIABLE)
set_var('year',1995)
print(pidp)
print(get_var('asdf'))

2018
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
{'year': '', 'm': '', 'aa': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]), 'ae': 1, 'eb': 2, 'ffe': 4, 'dfs': 999, 'asdf': [4, 5, 6], 'qewr': [324, 23], 'er': [99, 0]}
   PFAll(上が冬季,下が夏季)  PDINVCDP1     Kp     Ti  PDINVCDP2  Unnamed: 5  \
0             912.5    28.8390  0.042  192.0      0.000       0.088
1            3595.7    56.1440  0.091  384.0     46.737       0.088
2             11653  1415.1000  0.090  303.0      0.000       0.006
3             20939    44.5120  0.078  348.0     46.745       0.006
4               NaN        NaN    NaN    NaN        NaN         NaN
5              2770    40.8030  0.027   47.0      0.000       0.101
6              9626   107.6400  0.045  453.0     54.989       0.093
7               NaN        NaN    NaN    NaN        NaN         NaN
8             912.5    28.8390  0.042  192.0      0.000       0.088
9            3595.7    56.1440  0.091  384.0     46.737       0.088
10              NaN        NaN    NaN    NaN        NaN         NaN
11              NaN        NaN    NaN    NaN        NaN         NaN
12             4625    23.8960  0.043  207.0      0.000       0.070
13              NaN        NaN    NaN    NaN        NaN         NaN
14           winter        NaN    NaN    NaN        NaN         NaN
15           4989.8    29.6180  0.026   15.0      0.000       0.051
16           9983.7    36.9450  0.077   24.0      0.000       0.005
17            10007    37.0320  0.038   32.0      0.000       0.035
18            11501    21.0200  0.083  254.0      0.000       0.050
19            11653  1415.1000  0.090  303.0      0.000       0.001
20           7853.6    23.7850  0.068  482.0      0.000       0.094
21           summer        NaN    NaN    NaN        NaN         NaN
22             9626   107.6400  0.045  453.0     54.989       0.093
23            12665    79.8100  0.064   82.0     59.349       0.099
24            14097    54.1460  0.016  480.0     29.269       0.073
25            18392     5.4589  0.067  351.0      0.000       0.022
26            20939    44.5120  0.078  348.0     46.745       0.006
27              NaN        NaN    NaN    NaN        NaN         NaN
28              NaN        NaN    NaN    NaN        NaN         NaN

    Unnamed: 6  PDINVCDP3  Unnamed: 8  Unnamed: 9     ...       Unnamed: 60  \
0        184.0     34.660       0.089       307.0     ...             390.0
1        184.0     84.111       0.087       198.0     ...             175.0
2        215.0     35.142       0.001       377.0     ...             204.0
3        215.0     82.012       0.100         4.0     ...             147.0
4          NaN        NaN         NaN         NaN     ...               NaN
5        315.0     35.748       0.093       423.0     ...             166.0
6        235.0    406.970       0.072        50.0     ...             453.0
7          NaN        NaN         NaN         NaN     ...               NaN
8        184.0     34.660       0.089       307.0     ...             390.0
9        184.0     84.111       0.087       198.0     ...             175.0
10         NaN        NaN         NaN         NaN     ...               NaN
11         NaN        NaN         NaN         NaN     ...               NaN
12       307.0     58.520       0.029       260.0     ...              72.0
13         NaN        NaN         NaN         NaN     ...               NaN
14         NaN        NaN         NaN         NaN     ...               NaN
15         5.0     34.312       0.084       307.0     ...             271.0
16        73.0     31.425       0.098        12.0     ...             103.0
17        73.0     30.599       0.027        45.0     ...             273.0
18        50.0     39.793       0.063        34.0     ...              74.0
19       427.0     35.142       0.001       377.0     ...             204.0
20       247.0     39.354       0.038       474.0     ...             134.0
21         NaN        NaN         NaN         NaN     ...               NaN
22       235.0    406.970       0.072        50.0     ...             453.0
23       391.0     74.174       0.049       153.0     ...             286.0
24       182.0    114.420       0.014        70.0     ...              15.0
25        56.0     97.981       0.043       102.0     ...             455.0
26       215.0     82.012       0.100         4.0     ...             147.0
27         NaN        NaN         NaN         NaN     ...               NaN
28         NaN        NaN         NaN         NaN     ...               NaN

    PFVlvHP1  Unnamed: 62  Unnamed: 63  PFINVHP1  Unnamed: 65  Unnamed: 66  \
0        0.0        0.081         18.0    151.00        0.007        347.0
1        0.0        0.062        301.0      0.00        0.007        347.0
2        0.0        0.008         84.0   2831.80        0.018        291.0
3        0.0        0.019        348.0      0.00        0.018        291.0
4        NaN          NaN          NaN       NaN          NaN          NaN
5        0.0        0.092        302.0    330.26        0.007        463.0
6        0.0        0.082        478.0      0.00        0.023         61.0
7        NaN          NaN          NaN       NaN          NaN          NaN
8        0.0        0.081         18.0    151.00        0.007        347.0
9        0.0        0.062        301.0      0.00        0.007        347.0
10       NaN          NaN          NaN       NaN          NaN          NaN
11       NaN          NaN          NaN       NaN          NaN          NaN
12       0.0        0.092        238.0   1377.50        0.002        111.0
13       NaN          NaN          NaN       NaN          NaN          NaN
14       NaN          NaN          NaN       NaN          NaN          NaN
15       0.0        0.100          9.0   1246.60        0.007        356.0
16       0.0        0.035        466.0    108.53        0.082        128.0
17       0.0        0.065        332.0    154.13        0.061        361.0
18       0.0        0.060        261.0    214.53        0.023        261.0
19       0.0        0.008         84.0   2831.80        0.018        291.0
20       0.0        0.062        436.0   1119.80        0.015         38.0
21       NaN          NaN          NaN       NaN          NaN          NaN
22       0.0        0.082        478.0      0.00        0.023         61.0
23       0.0        0.003         79.0      0.00        0.015        359.0
24       0.0        0.059        298.0      0.00        0.078        469.0
25       0.0        0.059        281.0      0.00        0.061        346.0
26       0.0        0.019        348.0      0.00        0.056         92.0
27       NaN          NaN          NaN       NaN          NaN          NaN
28       NaN          NaN          NaN       NaN          NaN          NaN

    PFVlvCT  Unnamed: 68  Unnamed: 69
0    54.234        0.063        237.0
1     0.000        0.063        237.0
2    40.442        0.082        357.0
3     0.000        0.082        357.0
4       NaN          NaN          NaN
5    58.259        0.063        236.0
6     0.000        0.080         69.0
7       NaN          NaN          NaN
8    54.234        0.063        237.0
9     0.000        0.063        237.0
10      NaN          NaN          NaN
11      NaN          NaN          NaN
12   54.569        0.002        227.0
13      NaN          NaN          NaN
14      NaN          NaN          NaN
15   55.999        0.060        492.0
16  214.890        0.037         60.0
17  261.070        0.009        297.0
18  104.910        0.050        429.0
19   40.442        0.082        357.0
20  434.430        0.086          3.0
21      NaN          NaN          NaN
22    0.000        0.080         69.0
23    0.000        0.040        215.0
24    0.000        0.051        463.0
25    0.000        0.086        120.0
26    0.000        0.089        291.0
27      NaN          NaN          NaN
28      NaN          NaN          NaN

[29 rows x 70 columns]
[4, 5, 6]

In [73]:
print(type((4,5,6)))

<class 'tuple'>

In [39]:
class Ha:
    tricks = []
    def __init__(self,name):
        self.name = name

a = Ha()
#print(a.name)

TypeError: __init__() missing 1 required positional argument: 'name'

In [50]:
class Ha:
    tricks = []  # common variable in class
    def __init__(self,name):
        self.name = name
    def append(self,trick):
        self.tricks.append(trick)
a = Ha('kinlde')
a.append('13000')
b = Ha('apple watch')
b.append('48000')
a.tricks
#print(a.name)

['13000', '48000']

In [116]:
class Ha:
    tricks = []
    count = 0
    def __init__(self,name):
        self.name = name
        count = 1
    def cal(self):
        c = self.count +2
        return c
        #print(c)
a = Ha('kindle')
b = Ha('surface')
print(a.count)

get = a.cal()
print(get)

0
2

In [57]:
class Ctry:
#     def __init__(self):
#         pass
    def noinit():
        print("hello")
Ctry.noinit()

hello

In [119]:
class cal:
    y1 = 0
    count = 0
    countcal1 = 0
    def __init__(self):
        cal.count += 1
    def Cal1(self,x1):
        y1 = x1 + 1
        self.countcal1 += 1
        return y1
    def Cal2(self,x2):
        y2 = x2 + self.y1
        return y2
if __name__ == "__main__":
    a1 = cal()
    a2 = cal()
    print('a1.Cal1=', a1.Cal1(5))
    print('a1.count=',a1.count)
    print('a2.Cal2(2=',a2.Cal2(2))
    print('a2.count=', a2.count)
    cal().Cal2(3)
    print('a2.countcal1=', a2.countcal1)
    print('cal().count=', cal().count)
    print('a1.Cal1(4)=', a1.Cal1(4))
    print('a1.countcal1=', a1.countcal1)

a1.Cal1= 6
a1.count= 2
a2.Cal2(2= 2
a2.count= 2
a2.countcal1= 0
cal().count= 4
a1.Cal1(4)= 5
a1.countcal1= 2

In [109]:
#todo simple example for real use
#in pep8 self is needed
class Test:
    def __init__(self):
        self.Ti = 15
        self.To = 25
    def cal1(self, x):
        x = self.Ti  + 5
        self.To = x + 2
        print(x, self.To)
    def cal2(self, x):
        x = x + 4
        self.To += 1
        print(x, self.To)
    def run(self):
        self.cal1(5)
        self.cal2(3)
if __name__ == "__main__":
       Test().run()

20 22
7 23

In [115]:
mode = 0
if mode:
    print('ok')
else:
    print('error')

error